@import "~office-ui-fabric-react/dist/sass/References.scss";

.crud {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }
  .table {
    background: linear-gradient(45deg, #07b86e, #06b489);
    color: #fff;
    padding: 5px 30px;
  }
  th {
    border-bottom: 1px solid #ccc;
    height: 50px;
  }
  td {
    text-align: center;
    height: 40px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }

  .link {
    color: #fff;
    text-decoration: none;
  }

  .addlist {
    max-width: 50%;
    margin: 20px auto;
    padding: 30px 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    position: relative;
  }
  .input {
    display: flex;
    max-width: 80%;
    min-width: 80%;
    margin: 5px auto;
    input {
      width: 100%;
      padding: 5px;
    }
  }
  .btn {
    display: block;
    padding: 6px 16px;
    margin: 10px 0;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 1rem;
    background: #8764b8;
    color: #fff;
  }
  .btnCenter {
    display: block;
    margin: 10px auto;
    padding: 6px 16px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 1rem;
    background: #8764b8;
    color: #fff;
  }
  .cancelbtn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: navajowhite;
    outline: none;
    font: bold;
    font-size: 1rem;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    background: #f83434;
    color: #fff;
    cursor: pointer;
    margin-bottom: 30px;
  }

  .invisibleTr {
    max-width: 10px;
  }

  .tableRow {
    .selectBtn {
      visibility: hidden;
      outline: none;
      border: 1px solid #ccc;
      background: transparent;
      color: #fff;
      font-size: 1rem;
      border-radius: 2px;
      font-weight: bold;
    }
  }
  .tableRow:hover {
    .selectBtn {
      visibility: visible;
      outline: none;
      font-size: 1rem;
      border-radius: 2px;
      font-weight: bold;
      border: 1px solid #ccc;
      background: transparent;
      color: #fff;
      cursor: pointer;
    }
  }
  .red {
    background-color: #eb6565;
    color: #fff;
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system,
      BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}
